<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/CSS/Main.css" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        body {
            background: url('https://images.hdqwalls.com/download/plants-spike-lake-reeds-4k-70-2048x1152.jpg') no-repeat center center fixed;
            /*background-image: url('images/wall.jpg');*/
            background-size: cover;
            background-size: cover;
            background-size: cover;
            background-size: cover;
        }
        .container {
  position: absolute;
  right: 50px;
  margin: 20px;
  max-width: 300px;
  padding: -16px;
  background-color:white;
}
      
 
    </style>
</head>
<body>

    <div >
        <div class="card border-0 shadow my-1">
            @*<div class="card-body p-1">


            </div>*@
        </div>
    </div>

    <div>
        @RenderBody()
    </div>
</body>
</html>
